moviepy==2.0.0.dev2
numpy==1.22.4
opencv-python~=4.6.0.66
mediapipe~=0.8.9.1
tensorflow==2.8.0
keras==2.8.0
google-auth-oauthlib==0.5.1
google-auth-httplib2==0.1.0
google-api-python-client==2.44.0
PyYAML==6.0
dropbox==11.31.0
seaborn==0.11.2
scikit-learn==1.1.1